img {
  height: 10em;
  width: 10em;
}
a {text-decoration: none;}

a:hover {
  text-decoration: underline;
  background: yellow;
}

div {
  height: 10em;
  width: 10em;
  background: blue;
  display: inline-block;
  animation: recolor 5s infinite;
}
#purple {
  background: purple;
}
#orange {
  background: orange;
}
@keyframes recolor {
  to {background: red; }
}

@mediat only screen and (max-width: 600px {
  body {
    background-color: green;
  }
}
